REACT_APP_GOOGLE_CLIENT_ID=191710280415-up0lrppg3dfu533gnvpahrulg5fkc09q.apps.googleusercontent.com

# Optional: hidden file name in Google Drive appDataFolder
REACT_APP_GOOGLE_DRIVE_FILE_NAME=budget-data.json
